*{
    background-color: rgb(213, 255, 255);
}

.title,.recipe-name{
    text-align: center;
    font-family: 'Brush Script MT',sans-serif;
    font-size:46px;
}
.title{
    font-size: 80px;
    border-bottom: solid pink;
    border-top: solid pink;
   
}
.recipes-name{
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
    font-size: 26px;
    font-family: 'papyrus';
    font-weight: bold; 
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.food-pics{
    width: 500px;
    height: auto;
}
